:root {
    --bg: #57E389;
}

.card-stack {
    box-shadow: none;
}

.stack-placeholder {
    background-color: #26A269;
    border-radius: 6%;
    box-shadow: 0 0 8px #25835c;
}

window {
    background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #207351;
    }
}